.region{
    flex-direction: row;
    width: 98%;
}


.checkboxitem{
    /* border: 2px solid red; */
    min-width: 100px;
    max-width: 200px;
}

.regiondiv{
    /* border: 2px solid navy; */
    width: 98%;
}
.regions{
    display: flex;
    /* border: 5px solid black; */
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    
}